<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
    <add key="telerik.com" value="https://nuget.telerik.com/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
    <telerik.com>
        <add key="Username" value="qimono76live@outlook.com" />
        <add key="ClearTextPassword" value="Esfera3010" />
    </telerik.com>
    </packageSourceCredentials>
</configuration>